<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VibeSync: Playlists</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h2>Playlists</h2>

    <!-- Scrollable Playlist List -->
    <div class="scrollable-playlists">
      {% for playlist in playlists %}
      <a class="playlist-item" href="{{ url_for('views.show_playlist', playlist_id=playlist.id) }}">{{ playlist.name }}</a>
      {% endfor %}
    </div>

    <!-- Action buttons -->
    <div class="actions">
      <a href="{{ url_for('views.user_create_playlist') }}" class="btn btn-action">Create New Playlist</a>
      <a href="{{ url_for('views.home') }}" class="btn btn-action">Return Home</a>
    </div>
  </div>
</body>
</html>
